@font-face {
    font-family: "Open Sans";
    src : url("../fonts/OpenSans-Regular.ttf");
  }

@font-face {
    font-family: "Open Sans Bold";
    src : url("../fonts/OpenSans-Bold.ttf");
  }

@font-face {
    font-family: "Open Sans Semibold Italic";
    src : url("../fonts/OpenSans-BoldItalic.ttf");
  }
